$backgroundColor: #fcfcfc;
$transitionTime : 400ms;
*, 

*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    color: rgba(17, 19, 19, 0.5);
    background: rgba(154, 173, 169, .9);
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-column {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin custom-button {
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    border: solid 1px royalblue;
    outline: 0;
    cursor: pointer;
    color: royalblue;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

body {    
    background: $backgroundColor;
    min-height: 100vh;
    min-width: 100%;
    font-family: nunito,sans-serif;
    font-weight: 300;
    font-style: normal;

    nav,
    section,
    footer {
        max-width: 1800px;
        margin: auto;
    }

    @at-root
    .navigation {
        height: 10vh;
        width: 100%;
        top: 0;
        position: sticky;
        padding: 3rem 7rem;
        background: $backgroundColor;
        @include flex-between();

        .logo__container {
            width: 70px;
            height: 70px;
            position: absolute;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__container {
            flex: 1;
            @include flex-evenly();

            .navigation__links,
            .navigation__buttons {
                height: 100%;
            }

            .navigation__links {
                list-style: none;
                margin-left: auto;
                width: 30%;
                @include flex-between();                
                flex-wrap: wrap;

                .navigation__link {

                    a {
                        text-decoration: none;
                        color: black;
                        transition: color $transitionTime;

                        &:hover,
                        &:focus {
                            font-weight: bold;
                            color: royalblue;
                        }
                    }
                }

                .navigation__link + .navigation__link {
                    margin-left: 1rem;
                }
            }

            .navigation__buttons {
                display: flex;
                margin-left: 3rem;

                .navigation__button {
                    white-space: nowrap;
                    width: 100%;
                }

                .navigation__button + .navigation__button {
                    margin-left: 1rem;
                }
            }
        }
    }

    @at-root
    section {
        padding: 2rem 7rem 0;

        &.section--first {
            min-height: 90vh;
        }

        & + & {
            padding-bottom: 2rem;
        }

        @at-root
        .hero {
            
            &__column {
               display: grid;
               grid-template: auto / 20% auto 20%;

                &--left,
                &--right {
                   display: flex;
                   color: purple;
                   font-family: sans-serif;
                }

                &--left {
                    align-items: flex-end;
                }

                &--right {
                    justify-content: flex-end;
                }

                &--center {
                    padding: 2rem;
                    @include flex-column();
                    text-align: center;
                    font-size: 1.4rem;
                    row-gap: 3rem;

                    &-bottom {                        
                        @include flex-column();
                    }
                }
            }

            .content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
                grid-template-rows:  50vh ;

                &--first {
                    grid-template-rows:  70vh ;
                }

                &__description {
                    height: 70%;
                    @include flex-column();
                    justify-content: space-evenly;
                    align-self: center;
                    row-gap: 1rem;

                    .product__item {
                        font-weight: bold;
                        color: rgb(25, 23, 168);
                    }

                    &--small {
                        height: 50%;
                    }
                }

                &__image-container {
                    display: flex;
                    height: 100%;
                    
                    .content__image {
                        height: 100%;
                        object-fit: contain;

                        &--small {
                            height: 50%;
                        }
                    }

                    &--left {
                        justify-content: flex-start;
                    }

                    &--right {
                        justify-content: flex-end;                        
                    }
                }
            }

            .products {       
                @include flex-between();

                .product__item {
                    @include flex-column();
                    row-gap: 1rem;
                    align-items: center;

                    &--icon {
                        color: purple;
                    }

                    &--text {
                        color: black;
                        font-size: 1.1rem;    
                        font-weight: bold;                        
                    }
                }
            }

            .contact {       
                width: 40%;
                @include flex-column();
                row-gap: 1rem;

                .contact__option {
                    @include flex-between();

                    &--icon,
                    &--text {
                        font-size: 1.1rem;
                        color: $backgroundColor;
                        padding: .7rem;
                    }

                    &--icon {
                        background: #5a5abbe0;
                        border-radius: .3rem;
                    }

                    &--text {            
                        flex: 1;
                    }
                }
            }
        }
    }

    .button {
        @include custom-button();
        transition: color $transitionTime, background $transitionTime;

        &:hover,
        &:focus {
            color: gainsboro;           
            border: solid 1px royalblue;
            outline: 0;
            background: linear-gradient(to right, purple, royalblue);
        }

        &__call-to-action {
            padding: .7rem 2.5rem;
            transition: background $transitionTime;
            background: royalblue;
            color: gainsboro;
            font-size: 1rem;

            &:hover,
            &:focus {        
                border: solid 1px rgb(25, 23, 168);
                outline: 0;
                background: rgb(25, 23, 168);
            }
        }
    }

    footer {
        display: flex;
        padding: 2rem;

        .copyright {
            @include flex-center();
            flex: .8;
        }

        .accounts {            
            flex: .2;
            color: purple;
            @include flex-between();
        }
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .text--gray {
        color: $backgroundColor;
    }

    .background--gray {
        background: #dfdfea;
    }

    .background--blue {
        background: #2f2fc5;
    }

    .header--main {
        font-weight: bold;
        line-height: 1.2;
    }

    .header--sub {
        color: gray;
        line-height: 1.5;
    }

    .header--large {
        font-size: clamp(3rem, 2.5vw, 4rem);
    }

    .header--medium {
        font-size: clamp(2rem, 2.5vw, 4rem);
    }

    .header--small {
        font-size: clamp(1rem, 2.5vw, 4rem);
    }
}

@media screen and (max-width: 375px) {
   
    section {
        padding: 2rem 1rem 0;
    }

    .navigation {
        padding: 3rem 1rem;

        .navigation__links {
            width: 100%;
        }

        .navigation__buttons {
            flex-wrap: wrap;

            .navigation__button + .navigation__button {
                margin-left: unset;
            }
        }
    }
}