@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Raleway', 'Roboto Slab', sans-serif, serif;
  src: url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab&display=swap');
}

@tailwind utilities;