<template>
  <div>
    <main class="fixed w-full bg-white">
      <nav class="navigation">
        <div class="logo__container">
          <img
            src="~/assets/images/icons/shoperal_logo.svg"
            alt="Logo"
            class="logo"
          />
        </div>
        <div class="navigation__container">
          <ul class="navigation__links">
            <li class="navigation__link">
              <a href="#" target="_blank" rel="noopener noreferrer">Home</a>
            </li>
            <li class="navigation__link">
              <a href="#" target="_blank" rel="noopener noreferrer">About</a>
            </li>
            <li class="navigation__link">
              <a href="#" target="_blank" rel="noopener noreferrer">Contact</a>
            </li>
          </ul>
          <div class="navigation__buttons">
            <button class="button navigation__button">Login</button>
            <button class="button navigation__button">Start free</button>
          </div>
        </div>
      </nav>
    </main>
    <Nuxt />
  </div>
</template>

<style>
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: rgba(17, 19, 19, 0.5);
  background: rgba(154, 173, 169, 0.9);
}

::selection {
  color: rgba(17, 19, 19, 0.5);
  background: rgba(154, 173, 169, 0.9);
}

body {
  background: #fcfcfc;
  min-height: 100vh;
  min-width: 100%;
  font-family: nunito, sans-serif;
  font-weight: 300;
  font-style: normal;
}

body nav,
body section,
body footer {
  max-width: 1800px;
  margin: auto;
}

.navigation {
  height: 10vh;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  padding: 3rem 7rem;
  background: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation .logo__container {
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
}

.navigation .logo__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.navigation__container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation__container .navigation__links,
.navigation__container .navigation__buttons {
  height: 100%;
}

.navigation__container .navigation__links {
  list-style: none;
  margin-left: auto;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation__container .navigation__links .navigation__link a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.navigation__container .navigation__links .navigation__link a:hover,
.navigation__container .navigation__links .navigation__link a:focus {
  font-weight: bold;
  color: royalblue;
}

.navigation__container
  .navigation__links
  .navigation__link
  + .navigation__link {
  margin-left: 1rem;
}

.navigation__container .navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3rem;
}

.navigation__container .navigation__buttons .navigation__button {
  white-space: nowrap;
  width: 100%;
}

.navigation__container
  .navigation__buttons
  .navigation__button
  + .navigation__button {
  margin-left: 1rem;
}
.button {
  @apply font-medium rounded border-2 py-2 px-4 mr-2;
}

.button-outline {
  @apply text-blue-500 border-blue-500;
}

.button-linear-gradient {
  @apply text-white border-current bg-gradient-to-r from-purple-700 via-purple-500 to-indigo-300 ml-2;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: rgba(17, 19, 19, 0.5);
  background: rgba(154, 173, 169, 0.9);
}

::selection {
  color: rgba(17, 19, 19, 0.5);
  background: rgba(154, 173, 169, 0.9);
}

body {
  background: #fcfcfc;
  min-height: 100vh;
  min-width: 100%;
  font-family: nunito, sans-serif;
  font-weight: 300;
  font-style: normal;
}

body nav,
body section,
body footer {
  max-width: 1800px;
  margin: auto;
}

.navigation {
  height: 10vh;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  padding: 3rem 7rem;
  background: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation .logo__container {
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
}

.navigation .logo__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.navigation__container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation__container .navigation__links,
.navigation__container .navigation__buttons {
  height: 100%;
}

.navigation__container .navigation__links {
  list-style: none;
  margin-left: auto;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation__container .navigation__links .navigation__link a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.navigation__container .navigation__links .navigation__link a:hover,
.navigation__container .navigation__links .navigation__link a:focus {
  font-weight: bold;
  color: royalblue;
}

.navigation__container
  .navigation__links
  .navigation__link
  + .navigation__link {
  margin-left: 1rem;
}

.navigation__container .navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3rem;
}

.navigation__container .navigation__buttons .navigation__button {
  white-space: nowrap;
  width: 100%;
}

.navigation__container
  .navigation__buttons
  .navigation__button
  + .navigation__button {
  margin-left: 1rem;
}

section {
  padding: 2rem 7rem 0;
}

section.section--first {
  min-height: 90vh;
}

section + section {
  padding-bottom: 2rem;
}

.hero__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 20% auto 20%;
  grid-template: auto / 20% auto 20%;
}

.hero__column--left,
.hero__column--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: purple;
  font-family: sans-serif;
}

.hero__column--left {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero__column--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero__column--center {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  font-size: 1.4rem;
  row-gap: 3rem;
}

.hero__column--center-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  -ms-grid-rows: 50vh;
  grid-template-rows: 50vh;
}

.hero .content--first {
  -ms-grid-rows: 70vh;
  grid-template-rows: 70vh;
}

.hero .content__description {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-item-align: center;
  align-self: center;
  row-gap: 1rem;
}

.hero .content__description .product__item {
  font-weight: bold;
  color: #1917a8;
  display: flex;
}

.hero .content__description--small {
  height: 50%;
}

.hero .content__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.hero .content__image-container .content__image {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero .content__image-container .content__image--small {
  height: 50%;
}

.hero .content__image-container--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hero .content__image-container--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .products .product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .products .product__item--icon {
  color: purple;
}

.hero .products .product__item--text {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 0.6rem;
  align-self: center;
}

.hero .contact {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 1rem;
}

.hero .contact .contact__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .contact .contact__option--icon,
.hero .contact .contact__option--text {
  font-size: 1.1rem;
  color: #fcfcfc;
  padding: 0.7rem;
}

.hero .contact .contact__option--icon {
  background: #5a5abbe0;
  border-radius: 0.3rem;
}

.hero .contact .contact__option--text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body .button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  border: solid 1px royalblue;
  outline: 0;
  cursor: pointer;
  color: royalblue;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 400ms, background 400ms;
  transition: color 400ms, background 400ms;
}

body .button:hover,
body .button:focus {
  color: gainsboro;
  border: solid 1px royalblue;
  outline: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(purple),
    to(royalblue)
  );
  background: linear-gradient(to right, purple, royalblue);
}

body .button__call-to-action {
  padding: 0.7rem 2.5rem;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  background: royalblue;
  color: gainsboro;
  font-size: 1rem;
}

body .button__call-to-action:hover,
body .button__call-to-action:focus {
  border: solid 1px #1917a8;
  outline: 0;
  background: #1917a8;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

body footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}

body footer .accounts {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .font-weight-bold {
  font-weight: bold;
}

body .text--gray {
  color: #fcfcfc;
}

body .background--gray {
  background: #dfdfea;
}

body .background--blue {
  background: #2f2fc5;
}

body .header--main {
  font-weight: bold;
  line-height: 1.2;
}

body .header--sub {
  color: gray;
  line-height: 1.5;
}

body .header--large {
  font-size: clamp(3rem, 2.5vw, 4rem);
}

body .header--medium {
  font-size: clamp(2rem, 2.5vw, 4rem);
}

body .header--small {
  font-size: clamp(1rem, 2.5vw, 4rem);
}

@media screen and (max-width: 375px) {
  section {
    padding: 2rem 1rem 0;
  }
  .navigation {
    padding: 3rem 1rem;
  }
  .navigation .navigation__links {
    width: 100%;
  }
  .navigation .navigation__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .navigation .navigation__buttons .navigation__button + .navigation__button {
    margin-left: unset;
  }
}
/*# sourceMappingURL=main.css.map */
</style>
