<template>
  <div>
    <section class="section--first">
      <main class="hero">
        <div class="content content--first">
          <div class="content__description">
            <span class="header--main header--large">
              Build your unique eCommerce brand and start selling
            </span>
            <span class="header--sub">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus, eligendi dolores. Sint quis praesentium sunt autem
              laboriosam nesciunt eum ipsam architecto minima aut delectus
              accusamus sed, numquam nemo, optio impedit?
            </span>
            <span
              ><button class="button button__call-to-action">
                Get started
              </button></span
            >
          </div>
          <div class="content__image-container content__image-container--right">
            <img
              src="~/assets/images/unique_brand.svg"
              alt="Landing Page Image"
              class="content__image"
            />
          </div>
        </div>
      </main>
    </section>
    <section class="background--gray">
      <main class="hero">
        <div class="products">
          <div class="product__item">
            <img
              src="~/assets/images/icons/register.svg"
              alt="Landing Page Image"
              class="product__item--icon"
            />
            <!--            <span class="">-->
            <!--              <i class="fas fa-clipboard-list fa-2x"></i>-->
            <!--            </span>-->
            <span class="product__item--text"> Register </span>
          </div>
          <div class="product__item">
            <img
              src="~/assets/images/icons/money_bag.svg"
              alt="Landing Page Image"
              class="product__item--icon"
            />
            <span class="product__item--text"> Sell Products </span>
          </div>
          <div class="product__item">
            <img
              src="~/assets/images/icons/seeding.svg"
              alt="Landing Page Image"
              class="product__item--icon"
            />
            <span class="product__item--text"> Grow Business </span>
          </div>
        </div>
      </main>
    </section>
    <section>
      <main class="hero">
        <div class="content">
          <div class="content__image-container content__image-container--left">
            <img
              src="images/IMG-20210403-WA0005.jpg"
              alt="Landing Page Image"
              class="content__image"
            />
          </div>
          <div class="content__description content__description--small">
            <div class="product__item">
              <span class="product__item--icon flex">
                <img
                  src="~/assets/images/icons/register_sm.svg"
                  alt="Landing Page Image"
                  class="content__image"
                />
              </span>
              <span class="product__item--text self-center pl-3">
                Register
              </span>
            </div>
            <span class="header--main header--medium">
              Sign up to be part of the family
            </span>
            <span class="header--sub">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus, eligendi dolores. Sint quis praesentium sunt autem
              laboriosam nesciunt eum ipsam architecto minima aut delectus
              accusamus sed, numquam nemo, optio impedit?
            </span>
          </div>
        </div>
      </main>
    </section>
    <section class="background--gray">
      <main class="hero hero__column">
        <div class="hero__column--left">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <div class="hero__column--center">
          <div class="hero__column--center-top">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, eligendi dolores. Sint quis praesentium sunt autem
            laboriosam nesciunt eum ipsam architecto minima aut delectus
            accusamus sed, numquam nemo, optio impedit?
          </div>
          <div class="hero__column--center-bottom">
            <div class="self-center">
              <img
                src="~/assets/images/dziwornu.svg"
                alt="Landing Page Image"
                class="center-bottom__img"
              />
            </div>

            <span class="font-weight-bold"> Norbert Dziwornu </span>
            <span class="header--sub"> CEO </span>
          </div>
        </div>
        <div class="hero__column--right">
          <i class="fas fa-quote-right fa-2x"></i>
        </div>
      </main>
    </section>
    <section>
      <main class="hero">
        <div class="content">
          <div class="content__image-container content__image-container--left">
            <img
              src="images/IMG-20210403-WA0005.jpg"
              alt="Landing Page Image"
              class="content__image"
            />
          </div>
          <div class="content__description content__description--small">
            <div class="product__item flex">
              <span class="product__item--icon">
                <img
                  src="~/assets/images/icons/money_bag_sm.svg"
                  alt="Landing Page Image"
                  class="content__image"
                />
              </span>
              <span class="product__item--text self-center pl-3">
                Sell Products
              </span>
            </div>
            <span class="header--main header--medium"> Sell with ease </span>
            <span class="header--sub">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus, eligendi dolores. Sint quis praesentium sunt autem
              laboriosam nesciunt eum ipsam architecto minima aut delectus
              accusamus sed, numquam nemo, optio impedit?
            </span>
          </div>
        </div>
      </main>
    </section>
    <section class="background--gray">
      <main class="hero">
        <div class="content">
          <div class="content__description content__description--small">
            <div class="product__item">
              <span class="product__item--icon">
                <img
                  src="~/assets/images/icons/seeding_sm.svg"
                  alt="Landing Page Image"
                  class="content__image"
                />
              </span>
              <span class="product__item--text self-center pl-3">
                Grow Business
              </span>
            </div>
            <span class="header--main header--medium">
              Advertise your business and reach customers
            </span>
            <span class="header--sub">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus, eligendi dolores. Sint quis praesentium sunt autem
              laboriosam nesciunt eum ipsam architecto minima aut delectus
              accusamus sed, numquam nemo, optio impedit?
            </span>
          </div>
          <div class="content__image-container content__image-container--right">
            <img
              src="~/assets/images/grow_business_1.svg"
              alt="Landing Page Image"
              class="content__image"
            />
          </div>
        </div>
      </main>
    </section>
    <section class="background--blue">
      <main class="hero">
        <div class="content">
          <div class="content__description content__description--small">
            <span class="header--main header--medium text--gray">
              We'd love to hear from you
            </span>
            <div class="contact">
              <div class="contact__option">
                <span class="contact__option--icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="contact__option--text"
                  >mickeydluffy@gmail.com
                </span>
              </div>
              <div class="contact__option">
                <span class="contact__option--icon">
                  <i class="fas fa-phone"></i>
                </span>
                <span class="contact__option--text"> +233 54 892 2562 </span>
              </div>
              <div class="contact__option">
                <span class="contact__option--icon">
                  <i class="fas fa-map-marked"></i>
                </span>
                <span class="contact__option--text"> Dzorwulu Junction </span>
              </div>
            </div>
          </div>
          <div class="content__image-container content__image-container--right">
            <img
              src="images/IMG-20210403-WA0005.jpg"
              alt="Landing Page Image"
              class="content__image"
            />
          </div>
        </div>
      </main>
    </section>
    <footer>
      <div class="copyright">Copyright @2021 Shoperal. All rights reserved</div>
      <div class="accounts">
        <span class="product__item--icon">
          <i class="fab fa-facebook-f fa-2x"></i>
        </span>
        <span class="product__item--icon">
          <i class="fab fa-instagram fa-2x"></i>
        </span>
        <span class="product__item--icon">
          <i class="fab fa-twitter fa-2x"></i>
        </span>
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  layout: 'main',
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
